<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form action="/nameplate/" onsubmit="return loginCheck()">
    <div id="login">
        <div id="loginlogo"></div>
        <div id="loginpanel">
            <div class="panel-h"></div>
            <div class="panel-c">
                <div class="panel-c-l">
                    <table cellpadding="0" cellspacing="0">
                        <tbody>
                        <tr>
                            <td align="left" colspan="2">
                                <h3><%=Constants.SYSTEMNAME %>登录</h3>
                            </td>
                        </tr>
                        <tr>
                            <td align="right">账号：</td><td align="left"><input value="<s:property value="usid"/>" type="text" name="usid" id="usid" class="login-text" /></td>
                        </tr>
                        <tr>
                            <td align="right">密码：</td><td align="left"><input type="password" name="pswd" id="pswd" class="login-text" /></td>
                        </tr>
                        <tr>
                            <td align="center" colspan="2">
                                <input type="submit" id="btnLogin" value="登 录" class="login-btn" />
                            </td>
                        </tr>
                        <tr>
                            <td  colspan="2" style="color: red;font-size: 12px;">
                                <s:actionmessage/>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <div class="panel-c-r">
                    <p>请从左侧输入员工编号和开机密码</p>
                    <p>请使用IE浏览器,IE8效果最佳</p>
                    <p>如果遇到系统问题，请联系系统管理员,电话:89271。</p>
                    <p>......</p>
                </div>
            </div>
            <div class="panel-f"></div>
        </div>
        <div id="logincopyright">Copyright &copy; 2012 Lamda 计算机中心 </div>
    </div>
</form>
<script>
    new Vue(){

    }
</script>
</body>
</html>