.el-header, .el-footer {
    padding: 0;
    background-color: #545c64;
    line-height: 58px;
    color: #ffffff;
}
.el-aside {
    background-color: #545c64;
}

.el-main {
    padding: 0;
    background-color: #ffffff;
    color: #333;
    text-align: center;
    width: auto;
}

body > .el-container {
}

.el-container:nth-child(5) .el-aside,
.el-container:nth-child(6) .el-aside {
    line-height: 260px;
}

.el-container:nth-child(7) .el-aside {
    line-height: 320px;
}

#searchCondition{
    position: absolute;
    left: 30px;
}
