<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.landa.nameplatesystem.dao.NameplateDao" >
  <resultMap id="BaseResultMap" type="com.landa.nameplatesystem.pojo.Nameplate" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="displayDate" property="displaydate" jdbcType="VARCHAR" />
    <result column="minBarCode" property="minbarcode" jdbcType="VARCHAR" />
    <result column="maxBarCode" property="maxbarcode" jdbcType="VARCHAR" />
    <result column="unitCode" property="unitcode" jdbcType="VARCHAR" />
    <result column="lineType" property="linetype" jdbcType="VARCHAR" />
    <result column="printOrNot" property="printornot" jdbcType="VARCHAR" />
    <result column="barCodeNum" property="barcodenum" jdbcType="INTEGER" />
    <association property="customercode"/>
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from tal_nameplate
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.landa.nameplatesystem.pojo.Nameplate" >
    <selectKey resultType="java.lang.Integer" keyProperty="id" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into tal_nameplate (displayDate, minBarCode, maxBarCode, 
      unitCode, lineType, printOrNot
      )
    values (#{displaydate,jdbcType=TIMESTAMP}, #{minbarcode,jdbcType=VARCHAR}, #{maxbarcode,jdbcType=VARCHAR}, 
      #{unitcode,jdbcType=VARCHAR}, #{linetype,jdbcType=VARCHAR}, #{printornot,jdbcType=VARCHAR}
      )
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.landa.nameplatesystem.pojo.Nameplate" >
    update tal_nameplate
    set displayDate = #{displaydate,jdbcType=TIMESTAMP},
      minBarCode = #{minbarcode,jdbcType=VARCHAR},
      maxBarCode = #{maxbarcode,jdbcType=VARCHAR},
      unitCode = #{unitcode,jdbcType=VARCHAR},
      lineType = #{linetype,jdbcType=VARCHAR},
      printOrNot = #{printornot,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select id, displayDate, minBarCode, maxBarCode, unitCode, lineType, printOrNot
    from tal_nameplate
    where id = #{id,jdbcType=INTEGER}
  </select>
  <select id="getNamePlateRecoed" resultMap="BaseResultMap">
    select id, displayDate, minBarCode, maxBarCode, unitCode, lineType, printOrNot,barCodeNum
    from tal_nameplate
    where 1=1
  </select>
  <select id="getNamePlateAndUnitCode" parameterType="String" resultType="java.util.Map">
    select a.*, b.*
    from tal_nameplate a
    inner join tal_customercode b
    on a.unitCode = b.C_unitCode
    where 1=1 ${filter}
  </select>
</mapper>