<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.landa.nameplatesystem.dao.TalCustomercodeMapper" >
  <resultMap id="BaseResultMap" type="com.landa.nameplatesystem.pojo.TalCustomercode" >
    <id column="C_unitCode" property="cUnitcode" jdbcType="VARCHAR" />
    <result column="model" property="model" jdbcType="VARCHAR" />
    <result column="customerCode" property="customercode" jdbcType="VARCHAR" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from tal_customercode
    where C_unitCode = #{cUnitcode,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.landa.nameplatesystem.pojo.TalCustomercode" >
    <selectKey resultType="java.lang.String" keyProperty="cUnitcode" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into tal_customercode (model, customerCode)
    values (#{model,jdbcType=VARCHAR}, #{customercode,jdbcType=VARCHAR})
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.landa.nameplatesystem.pojo.TalCustomercode" >
    update tal_customercode
    set model = #{model,jdbcType=VARCHAR},
      customerCode = #{customercode,jdbcType=VARCHAR}
    where C_unitCode = #{cUnitcode,jdbcType=VARCHAR}
  </update>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select C_unitCode, model, customerCode
    from tal_customercode
    where C_unitCode = #{cUnitcode,jdbcType=VARCHAR}
  </select>
  <select id="selectAll" resultMap="BaseResultMap" >
    select C_unitCode, model, customerCode
    from tal_customercode
  </select>
</mapper>